#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "traccar"
name = "Traccar"
description.en = "GPS tracking platform"
description.fr = "Plateforme de suivi GPS"

version = "6.10.0~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-only"
website = "https://www.traccar.org/"
demo = "https://www.traccar.org/demo-server/"
admindoc = "https://www.traccar.org/documentation/"
code = "https://github.com/traccar/traccar"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        in_subdir = false
        format = "zip"
        url = "https://github.com/traccar/traccar/releases/download/v6.10.0/traccar-other-6.10.0.zip"
        sha256 = "386fb275b8fff8276548153cda81a966ebf69294a63f76a92d2c2d5e6b651410"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "^traccar-other-.*zip$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.additional_urls = [ "/?id=" ]
    api.show_tile = false
    api.allowed = "visitors"
    api.auth_header = false

    [resources.ports]

    [resources.apt]
    packages = [
        "postgresql",
        "openjdk-17-jre-headless\\|openjdk-25-jre-headless",
    ]

    [resources.database]
    type = "postgresql"
