#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "traccar"
name = "Traccar"
description.en = "GPS tracking platform"
description.fr = "Plateforme de suivi GPS"

version = "6.1~ynh1"

maintainers = []

[upstream]
license = "GPL-3.0-only"
website = "https://www.traccar.org/"
demo = "https://www.traccar.org/demo-server/"
admindoc = "https://www.traccar.org/documentation/"
code = "https://github.com/traccar/traccar"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/traccar/traccar/releases/download/v6.1/traccar-other-6.1.zip"
        sha256 = "9dabe12b8c0a584d8ec0e3cc507cd37a3b7180d4042c64fc513e4497ec3d654b"
        in_subdir = false
        format = "zip"
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "^traccar-other-.*zip$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.additional_urls = [ "/?id=" ]
    api.show_tile = false
    api.allowed = "visitors"
    api.auth_header = false

    [resources.ports]

    [resources.apt]
    packages = "postgresql"

    packages_from_raw_bash = """
    if [[ $YNH_DEBIAN_VERSION == "bullseye" ]]; then
        echo "openjdk-11-jre-headless";
    elif [[ $YNH_DEBIAN_VERSION == "bookworm" ]]; then
        echo "openjdk-17-jre-headless";
    fi
    """

    [resources.database]
    type = "postgresql"
